:root{
    --color-primary:#222;
    --color-background:#1a1c1e;
    --color-body:#525254;
    --color-text: #f7f7f9;

}




body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background: var(--color-body);
    filter: blur(1.1);
    color: var(--color-text);
    background-repeat: fixed;
    /* background-position: top right; */
    /* font-family: 'Roboto Mono', monospace; */
}


form{
    /* border: 5px solid #4a0c85; */
    width: 40%;
    margin: 15vh auto;
    padding: 1rem;
    background: var(--color-background);
}
.wrapper{
display: grid;
grid-template-columns: auto auto;
}
/* Errors styling */
.error{
    color: red;
    font-weight: xx-small;
}
/* Wrap */
.wrap{
    margin: 2vh 2vw;
}
/* Heading  */
.heading--form{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 1vh 13.3vw;
}

/* input content */
.content{
    outline: none;
    border: none;
    background-color: var(--color-background);
    border-bottom: 3px var(--color-body) solid;
}
.content:focus{
    background-color: bisque;
}


/* branch */
.heading{
   display: inline-block;
}
/* Submit button */
.buttonSubmit{
    cursor: pointer;
    margin: 3vh 16vw;
}
.buttonSubmit:hover{
    background-color: #27277c;
    color: var(--color-text);
    transform: scale(1.2);
}


/* CONTACTS */
.contact{
    display: flex;
    margin: 2rem 4rem;
    list-style: none;
    justify-content: center;
    
}

/* ICONS */
.icons{
    padding-right: 2rem;
    transform: scale(1.3);
}
.icons:hover{
    transform: scale(1.7);   
    transition: transfrom 0.2s;
}
